* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 40px;
  background-color: antiquewhite;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}
main {
  height: calc(100vh - 75px);
  background-color: cornsilk;
}
.answer {
  height: 50px;
  background-color: darkmagenta;
  display: flex;
}
.putAnswer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 23px;
  line-height: 50px;
  background-color: lightcoral;
}
.restart {
  background-color: lavender;
  width: 150px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}
.response {
  height: calc(100% - 215px);
  background-color: rgb(124, 125, 139);
  padding-top: 20px;
}
.resTable {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  text-align: center;
  border: solid rgb(189, 62, 93) 2px;
  font-size: 23px;
  overflow: scroll;
}
.thead {
  display: flex;
  border-bottom: solid rgb(189, 62, 93) 2px;
}
.thead div {
  width: 18%;
}
.thead div:first-child {
  width: 64%;
  padding-right: 8%;
}
.record {
  display: flex;
}
.record:nth-child(n + 1) {
  border-bottom: solid whitesmoke 1px;
}
.record div {
  width: 18%;
}
#recordNum {
  display: flex;
  width: 64%;
}
#recordNum div {
  width: 22%;
}

.action {
  height: 180px;
  background-color: rgb(37, 172, 37);
}
.attack {
  height: 80px;
  display: flex;
}
.attacks {
  width: 80%;
  height: 70px;
  margin-top: 3px;
  margin-left: 2px;
  display: flex;
  background-color: hotpink;
  justify-content: space-around;
}
.attacks div {
  width: 19%;
  margin: 10px 0;
  text-align: center;
  font-size: 23px;
  line-height: 50px;
  background-color: rgb(219, 202, 231);
}
.attack-button {
  width: 20%;
  text-align: center;
  line-height: 80px;
}
.attack-button button {
  width: 90%;
  height: 50px;
}
.numbers {
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.numbers div {
  width: 19%;
  margin-bottom: 3px;
  background-color: darkolivegreen;
  font-size: 23px;
  text-align: center;
  line-height: 40px;
}
.numbers .active {
  background-color: lawngreen;
}
.numbers .selected {
  outline: 3px solid khaki;
  outline-offset: -3px;
}
footer {
  height: 35px;
  background-color: burlywood;
}

@media screen and (min-width: 420px) {
  body {
    width: 420px;
    margin: 0 auto;
  }
  html {
    background-color: rgb(34, 52, 70);
  }
}
