* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 70px;
  background-color: antiquewhite;
}
main {
  height: calc(100vh - 105px);
  background-color: cornsilk;
}
.answer {
  height: 250px;
  background-color: darkmagenta;
  display: flex;
}
.putAnswer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 120px;
  line-height: 250px;
  background-color: lightcoral;
}
.restart {
  background-color: lavender;
  width: 150px;
  font-size: 40px;
  line-height: 250px;
  text-align: center;
}
.response {
  height: calc(100% - 800px);
  background-color: rgb(124, 125, 139);
  padding-top: 40px;
}
.resTable {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border: solid rgb(189, 62, 93) 2px;
  font-size: 40px;
}
.thead {
  display: flex;
  border: solid rgb(189, 62, 93) 2px;
}
.thead div {
  width: 100px;
}
.thead div:first-child {
  width: 400px;
  padding-right: 80px;
}
.record {
  display: flex;
}
.record:nth-child(n + 2) {
  border-top: solid whitesmoke 1px;
}
.record div {
  width: 100px;
}
#recordNum {
  display: flex;
  width: 400px;
}
#recordNum div {
  width: 80px;
}

.action {
  height: 550px;
  background-color: rgb(37, 172, 37);
}
.attack {
  height: 250px;
  display: flex;
}
.attacks {
  width: 80%;
  height: 200px;
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
  background-color: hotpink;
  justify-content: space-around;
}
.attacks div {
  width: 19%;
  margin: 15px 0;
  text-align: center;
  font-size: 70px;
  line-height: 170px;
  background-color: rgb(219, 202, 231);
}
.attack-button {
  width: 20%;
  text-align: center;
  line-height: 200px;
}
.attack-button button {
  width: 50%;
  height: 50px;
}
.numbers {
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.numbers div {
  width: 19%;
  margin-bottom: 3px;
  background-color: darkolivegreen;
  font-size: 70px;
  text-align: center;
  line-height: 140px;
}
.numbers .active {
  background-color: lawngreen;
}
.numbers .selected {
  outline: 10px solid khaki;
  outline-offset: -10px;
}
footer {
  height: 35px;
  background-color: burlywood;
}
