<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hit and Blow</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="船2.png" />
  </head>
  <body>
    <header>Hit and Blow</header>
    <main id="app">
      <div class="answer">
        <div v-if="!isFinished" class="putAnswer" @click="viewAns()">
          答えを見る
        </div>
        <div v-if="isFinished" class="putAnswer">{{answer}}</div>
        <div class="restart" @click="restart()">restart</div>
      </div>
      <div class="response">
        <div class="resTable">
          <div class="thead">
            <div>数字</div>
            <div>Hit</div>
            <div>Blow</div>
          </div>
          <div class="tbody">
            <div class="record" v-for="(respon, index) in res" :key="index">
              <div id="recordNum">
                <div>{{respon[0]}}</div>
                <div>{{respon[1]}}</div>
                <div>{{respon[2]}}</div>
                <div>{{respon[3]}}</div>
              </div>
              <div>{{respon[4]}}</div>
              <div>{{respon[5]}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="action">
        <div class="attack">
          <div class="attacks">
            <div
              v-for="(num, index) in attackNum"
              :key="index"
              class="attack-box"
              @click="putNum(index)"
            >
              {{num}}
            </div>
          </div>
          <div class="attack-button">
            <button @click="check()">attack</button>
          </div>
        </div>
        <div class="numbers">
          <div
            v-for="num in numList"
            :key="num.num"
            :class="{selected: num.num==selectedNum,active: num.able}"
            @click="selectNum(num.num)"
          >
            {{num.num}}
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
  </body>
</html>
